@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
   font-family: "Roboto", sans-serif;
}

:root {
   --color1: #111;
   --color2: #ff7f50;
   --bgcol1: #343a40;
   --bgcol2: #f8f9fa;
}

.bg-dark1 {
   background-color: var(--bgcol1);
   color: var(--bs-white);
}

.bg-lite1 {
   background-color: var(--bgcol2);
   color: var(--color1);
}

.bg-orange {
   background-color: var(--color2);
   color: var(--bs-white);
}
